@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
我是Home页面的哦~
@Html.ActionLink("注册", "Edit", "Register")<br />
@Html.ActionLink("待审批列表", "ApprovingList", "Home")<br />
@Html.ActionLink("已审批列表", "ApprovalHistoryList", "Home")<br />
